body{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    display: flex;
    gap: 25px;
}
.image{
    height: 100px;
}

.header{
    display: flex;
    justify-content: space-around;
}

.information{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.placeholder{
    height: 200px;
    width: 450px;
    background-color: lightgrey;
}

